/* Colors and fonts */

body {
	background-image: url(images/bg.jpg);
	color : black;
	font-family: Arial; 
}

h1 {
	color: #DAA520 ;
	font-family: Helvetica;
	font-size: 30px;
}

h2 {
	color: pink;
	font-family: Helvetica;
	font-size: 25px;
}
h3 {
	color: #DAA520 ;
	font-family: Helvetica;
	font-size: 25px;
}
a {
	text-decoration: none;
	color : rgb(188, 143, 143);
}
a:hover {
	color: red;
}

/* Custom design with class */

.container {
	width: 700px;
	margin:40px auto;
}

@media (max-width: 760px) {
	.container{
	width: 600px;
	}
}

@media (max-width: 500px) {
	.container{
	width: 400px;
	}
}




.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 7px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%
}
.btn-blue {
	background-color: white;
	color: rgb(188, 143, 143);
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: #FFF0F5 ;
	color: rgb(188, 143, 143);
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
font-size: 30px;
color: rgb(230, 230, 230);
}

.list-inline i:hover{
font-size: 30px;
color: rgb(188, 143, 143);
}

/* Design adjustements using id */

#introduction p {
margin-bottom: 40px;
}

#family p {
margin-bottom: 40px;
}

#gastronomy p  {
margin-bottom: 40px;
}

#fashion p  {
margin-bottom: 40px;
}

#travel p  {
margin-bottom: 40px;
}
